*.tif*
*pycache*
*.mmap
data/
day2/3 Caiman Movie Handling Tool and Summary Images (solutions).ipynb
day2/4 Motion Correction with CaImAn (solutions).ipynb
day2/5 Quality Metrics for Motion Correction (solutions).ipynb